<p id="notice"><%= notice %></p>

<p>
  <strong>Reg no:</strong>
  <%= @vehicle.reg_no %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.status %>
</p>

<p>
  <strong>Current city:</strong>
  <%= @vehicle.current_city.name %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @vehicle.driver_name %>
</p>

<p>
  <strong>Driver email:</strong>
  <%= @vehicle.driver_email %>
</p>

<p>
  <strong>Driver mobile:</strong>
  <%= @vehicle.driver_mobile %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
